<h1>Categories</h1>

{{!-- 
Citation for the following creating this table and populating using handlebars
Date: 2/26/2025
Adapted from nodejs-starter app code
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%204%20-%20Dynamically%20Displaying%20Data--}}

{{!-- Display current Category data --}}
{{!-- Create a table --}}
<table id="category-table"border="1", cellpadding="5">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Delete</th>
            <th>Update</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print all of the attributes in order --}}
        {{#each data}}
        <tr data-value="{{this.categoryId}}">
            <td>{{this.categoryId}}</td>
            <td>{{this.categoryName}}</td>
            <td>{{this.categorySize}}</td>
            <td>{{this.categoryDescription}}</td>
            <td><button onclick="deleteCategory({{this.categoryId}})">Delete</button></td>
            <td><button onclick="updateCategory({{this.categoryId}})">Update</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Button to open add add category Modal--}}
<button id="add-category-button">Add Category</button>

<div id="add-modal-backdrop" class="hidden"></div>
    <div id="add-category-modal" class="hidden">
        <div class="modal-dialog">
            <div class="modal-header">
                <h3>Add Category</h3>
                <button type="button" id="add-modal-close" class="modal-hide-button">&times;</button>
            </div>
            <div class="modal-body">
                {{!-- 
                Citation for following code that allows the user to add a new row to a table using AJAX
                Date: 2/26/2025
                Adapted from nodejs-starter app code
                Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%205%20-%20Adding%20New%20Data--}}
                {{!-- Form to add a record to the table--}} 
                    <form id="add-category-form-ajax">
                        <label for="input-categoryName">Name</label>
                        <input type="text" id="input-categoryName" required>

                        <label for="input-categorySize">Size</label>
                        <input type="number" id="input-categorySize" required>

                        <label for="input-categoryDescription">Description</label>
                        <input type="text" id="input-categoryDescription">

                        <input type="submit">
                    </form>
            </div>
    </div>
</div>

<div id="update-modal-backdrop" class="hidden"></div>
    <div id="update-category-modal" class="hidden">
        <div class="modal-dialog">
            <div class="modal-header">
                <h3>Update Category</h3>
                <button type="button" id="update-modal-close" class="modal-hide-button">&times;</button>
            </div>
            <div class="modal-body">
                {{!-- 
                Citation for following code that allows the user to add a new row to a table using AJAX
                Date: 2/26/2025
                Adapted from nodejs-starter app code
                Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%205%20-%20Adding%20New%20Data--}}
                {{!-- Form to add a record to the table--}} 
                <form id="update-category-form-ajax">
                    <label for="update-input-categoryName">Name</label>
                        <input type="text" id="update-input-categoryName">

                        <label for="update-input-categorySize">Size</label>
                        <input type="number" id="update-input-categorySize">

                        <label for="update-input-categoryDescription">Description</label>
                        <input type="text" id="update-input-categoryDescription">

                        <input type="submit">
                </form> 
            </div>
    </div>
</div>

{{!-- 
Citation for the following search feature
Date: 2/27/2025
Adapted from nodejs-starter app code
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%206%20-%20Dynamically%20Filling%20Dropdowns%20and%20Adding%20a%20Search%20Box--}}
<h2>Search Categories by Name</h2>
<form id="search-category-by-name-html" method='GET' action='/Categories'> <!-- MAY WANT TO CHANGE THE ROUTE FROM / TO SOMETHING ELSE-->
    <label for="input-categoryName">Category Name: </label>
    <input type="text" name="categoryName" id="input-category-html-search">
    
    <input type="submit">
    <a href='/Categories'><button>Reset</button></a>
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/update_category.js"></script>
<script src="./js/add_category.js"></script>
<script src="./js/delete_category.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> <!-- Allow use of jQuery-->