{{> navBarTemplate}}
<h1>Clubs</h1>

{{!-- 
Citation for the following creating this table and populating using handlebars
Date: 2/26/2025
Adapted from nodejs-starter app code
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%204%20-%20Dynamically%20Displaying%20Data--}}

{{!-- Display current Clubs data --}}
{{!-- Create a table --}}
<table border="1", cellpadding="5">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print all of the attributes in order --}}
        {{#each data}}
        <tr>
            <td>{{this.clubID}}</td>
            <td>{{this.clubName}}</td>
            <td>{{this.clubSize}}</td>
            <td>{{this.clubDescription}}</td>
            <td>{{this.clubBudget}}</td>
            <td>{{this.clubPresident}}</td>
            <td>{{this.clubCategory}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<!-- Fields to add a club -->
<div id="insert">
    <form method="POST" id="addClub">
        <legend><strong>Add Club</strong></legend>
          <fieldset class="fields">
            <label> Name </label> <input type="text" name="clubName">
            <label> Description </label> <input type="text" name="description">
            <label> Budget </label> <input type="text" name="budget">
            <label> President </label> <input type="text" name="president">
      </fieldset>
          <input class="btn" type="submit" id="addClub" value="Add Club">
          <input class="btn" type="button" value="cancel" onClick="addClub()">
	</form> 
</div>

<!-- Fields to edit a club -->
<div id="update">
    <form method="POST" id="UpdateClub">
        <legend><strong>Update Club</strong></legend>
          <fieldset class="fields">
          <input type="hidden" name="personID" id="updatepersonID" value="1">
            <label> Name </label> <input type="text" name="fname">
            <label> Description </label> <input type="text" name="description">
            <label> Budget </label> <input type="text" name="budget">
            <label> President </label> <input type="text" name="president">
      </fieldset>
          <input class="btn" type="submit" id="UpdateSaveClub" value="Save Update Club">
          <input class="btn" type="button" value="cancel" onClick="browseClubs()">
	</form> 
</div>

<!-- Option to delete a club -->

<div id="delete">
    <form method="POST" id="DeleteClub">
        <legend><strong>Delete Club</strong></legend>
          <fieldset class="fields">
          <input type="hidden" name="personID" id="updatepersonID" value="1">
            <label> Club ID </label> <select name="clubs">
                <option value="1">Select A Club ID</option>
                <option value="2">1</option>
                <option value="3">2</option>
                <option value="4">3</option>
                </select>
        </fieldset>
          <input class="btn" type="submit" id="deleteClub" value="Delete Club">
          <input class="btn" type="button" value="cancel" onClick="browseClubs()">
	</form> 
</div>