<h1>Clubs</h1>

{{!-- 
Citation for the following creating this table and populating using handlebars
Date: 2/26/2025
Adapted from nodejs-starter app code
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%204%20-%20Dynamically%20Displaying%20Data--}}

{{!-- Display current Clubs data --}}
{{!-- Create a table --}}
<table id="club-table"border="1", cellpadding="5">

    {{!-- Header section --}}
    <thead>

        {{!-- I hardcoded the header names because I don't want to display in the table clubPresidentId and clubCategoryId --}}
        <tr>
            <th>clubId</th>
            <th>clubName</th>
            <th>clubDescription</th>
            <th>clubBudget</th>
            <th>clubPresident</th>
            <th>clubCategory</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print all of the attributes in order --}}
        {{#each data}}
        <tr data-value="{{this.clubId}}" data-clubPresidentId="{{this.clubPresidentId}}" data-clubCategoryId="{{this.clubCategoryId}}"> {{! Note: store the presidentId and clubCategory in this row so that I can accurately auto populate the form fields in the update modal}}
            <td>{{this.clubId}}</td>
            <td>{{this.clubName}}</td>
            <td>{{this.clubDescription}}</td>
            <td>{{this.clubBudget}}</td>
            <td>{{this.clubPresident}}</td>
            <td>{{this.clubCategory}}</td>
            <td><button onclick="deleteClub({{this.clubId}})">Delete</button></td>
            <td><button onclick="updateClub({{this.clubId}})">Update</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!--
Modal Code in this file was adapted from a similar modal code in our CS 290 final project 
Date: 3/13/2025 
Adapted from My CS290 final project code which was adapted from the given Rob Hess code 
Source URL: https://github.com/osu-cs290-f24/handlebars-templating
--}}


{{!-- Button to open add add club Modal--}}
<button id="add-club-button">Add Club</button>

<div id="add-modal-backdrop" class="hidden"></div>
    <div id="add-club-modal" class="hidden">
        <div class="modal-dialog">
            <div class="modal-header">
                <h3>Add Club</h3>
                <button type="button" id="add-modal-close" class="modal-hide-button">&times;</button>
            </div>
            <div class="modal-body">
                {{!-- 
                Citation for following code that allows the user to add a new row to a table using AJAX
                Date: 2/26/2025
                Adapted from nodejs-starter app code
                Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%205%20-%20Adding%20New%20Data--}}
                {{!-- Form to add a record to the table--}} 
                <div class="form-container">
                    <form id="add-club-form-ajax">
                        <div class="form-group">
                            <label for="input-clubName">Name</label>
                            <input type="text" id="input-clubName-add">
                        </div>
                        
                        <div class="form-group">
                            <label for="input-clubDescription">Description</label>
                            <input type="text" id="input-clubDescription-add">
                        </div>
                        
                        <div class="form-group">
                            <label for="input-clubBudget">Budget</label>
                            <input type="number" min="0" id="input-clubBudget-add">
                        </div>

                        <div class="form-group">
                            <select name="input-clubPresident" id="input-clubPresident-add">
                            <option value=''>Select a Student</option>
                                {{#each students}}
                                <option value="{{this.studentId}}">{{this.studentFName}} {{this.studentLName}}</option>
                                {{/each}}
                            <option value="None">None</option>
                            </select>
                        </div>

                        <div class="form-group"> 
                            <select name="input-clubCategory" id="input-clubCategory-add">
                            <option value=''>Select a Category</option>
                                {{#each categories}}
                                <option value="{{this.categoryId}}">{{this.categoryName}}</option>
                                {{/each}}
                            <option value="None">None</option>
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <input type="submit">
                        </div>
                    </form>
                </div>
            </div>
    </div>
</div>

<div id="update-modal-backdrop" class="hidden"></div>
    <div id="update-club-modal" class="hidden">
        <div class="modal-dialog">
            <div class="modal-header">
                <h3>Update Club</h3>
                <button type="button" id="update-modal-close" class="modal-hide-button">&times;</button>
            </div>
            <div class="modal-body">
                {{!-- 
                Citation for following code that allows the user to add a new row to a table using AJAX
                Date: 2/26/2025
                Adapted from nodejs-starter app code
                Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%205%20-%20Adding%20New%20Data--}}
                {{!-- Form to add a record to the table--}} 
                <form id="update-club-form-ajax">
                    <div class="form-group">
                        <label for="input-clubName-update">Name</label>
                        <input type="text" id="input-clubName-update">
                    </div>
                    
                    <div class="form-group">
                        <label for="input-clubDescription-update">Description</label>
                        <input type="text" id="input-clubDescription-update">
                    </div>
                    
                    <div class="form-group">
                        <label for="input-clubBudget-update">Budget</label>
                        <input type="number" min="0" id="input-clubBudget-update">
                    </div>

                    <div class="form-group">
                        <select name="input-clubPresident-update" id="input-clubPresident-update">
                        <option value=''>Select a Student</option>
                            {{#each students}}
                            <option value="{{this.studentId}}">{{this.studentFName}} {{this.studentLName}}</option>
                            {{/each}}
                        <option value="None">None</option>
                        </select>
                    </div>

                    <div class="form-group"> 
                        <select name="input-clubCategory-update" id="input-clubCategory-update">
                        <option value=''>Select a Category</option>
                            {{#each categories}}
                            <option value="{{this.categoryId}}">{{this.categoryName}}</option>
                            {{/each}}
                        <option value="None">None</option>
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <input type="submit">
                    </div>
                </form> 
            </div>
    </div>
</div>

{{!-- 
Citation for the following search feature
Date: 2/27/2025
Adapted from nodejs-starter app code
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%206%20-%20Dynamically%20Filling%20Dropdowns%20and%20Adding%20a%20Search%20Box--}}
<div class="Search Forms">
    <h2>Search Clubs</h2>
    <div class="form-group">
        <form id="search-clubName-html" method='GET' action='/Clubs'> 
            <label for="input-clubName">Search by Club Name: </label>
            <input type="text" name="clubName" id="input-clubName-html-search">
            
            <input type="submit">
            <a href='/Clubs'><button>Reset</button></a>
        </form>
    </div>
    
    <div class="form-group">
        <form id="search-clubBudget-html" method='GET' action='/Clubs'> 
            <label for="input-lname">Search by Budget: </label>
            <input type="number" name="clubBudget" id="input-clubBudget-html-search">
            
            <input type="submit">
            <a href='/Clubs'><button>Reset</button></a>
        </form>
    </div>
   
    <div class="form-group">
        <form id="search-clubCategory-html" method='GET' action='/Clubs'> 
            <label for="input-clubCategory">Search by Category: </label>
            <select name="clubCategory" id="input-clubCategory-html-search">
                <option value=''>Select a Category</option>
                {{#each categories}}
                <option value="{{this.categoryId}}">{{this.categoryName}}</option>
                {{/each}}
            </select>
            <input type="submit">
            <a href='/Clubs'><button>Reset</button></a>
        </form>
    </div>
</div>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/update_club.js"></script>
<script src="./js/add_club.js"></script>
<script src="./js/delete_club.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> <!-- Allow use of jQuery-->