<h1>Students</h1>

{{!-- 
Citation for the following creating this table and populating using handlebars
Date: 2/26/2025
Adapted from nodejs-starter app code
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%204%20-%20Dynamically%20Displaying%20Data--}}
{{!-- Display current Clubs data --}}
{{!-- Create a table --}}
<table id = "student-table", border="1", cellpadding="5">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Delete</th>
            <th>Update</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print all of the attributes in order --}}
        {{#each data}}
        <tr data-value="{{this.studentId}}">
            <td>{{this.studentId}}</td>
            <td>{{this.studentFName}}</td>
            <td>{{this.studentLName}}</td>
            <td>{{this.studentEmail}}</td>
            <td>{{this.studentMajor}}</td>
            <td>{{this.studentGrade}}</td>
            <td><button onclick="deleteStudent({{this.studentId}})">Delete</button></td>
            <td><button onclick="updateStudent({{this.studentId}})">Update</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!--
Modal Code in this file was adapted from a similar modal code in our CS 290 final project 
Date: 3/13/2025 
Adapted from My CS290 final project code which was adapted from the given Rob Hess code 
Source URL: https://github.com/osu-cs290-f24/handlebars-templating
--}}


{{!-- Button to open add Club Particpation Modal--}}
<button id="add-student-button">Add Student</button>

<div id="add-modal-backdrop" class="hidden"></div>
    <div id="add-student-modal" class="hidden">
        <div class="modal-dialog">
            <div class="modal-header">
                <h3>Add Student</h3>
                <button type="button" id="add-modal-close" class="modal-hide-button">&times;</button>
            </div>
            <div class="modal-body">
                {{!-- 
                Citation for following code that allows the user to add a new row to a table using AJAX
                Date: 2/26/2025
                Adapted from nodejs-starter app code
                Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%205%20-%20Adding%20New%20Data--}}
                {{!-- Form to add a record to the table--}} 
                    <form id="add-student-form-ajax">
                        <div class="form-group">
                            <label for="input-studentFName">First Name</label>
                            <input type="text" id="input-studentFName">
                        </div>
                        
                        <div class="form-group">
                            <label for="input-studentLName">Last Name</label>
                            <input type="text" id="input-studentLName">
                        </div>
                        
                        <div class="form-group">
                            <label for="input-studentEmail">Email</label>
                            <input type="email" id="input-studentEmail">
                        </div>
                        
                        <div class="form-group">
                            <label for="input-studentMajor">Major</label>
                            <input type="text" id="input-studentMajor">
                        </div>
                        
                        <div class="form-group"> 
                            <label for="input-studentGrade">Grade</label>
                            <select name="input-studentGrade" id="input-studentGrade">
                            <option value="Freshman">Freshman</option>
                            <option value="Sophomore">Sophomore</option>
                            <option value="Junior">Junior</option>
                            <option value="Senior">Senior</option>
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <input type="submit">
                        </div>
                    </form>
            </div>
    </div>
</div>

{{!Modal for Updating students}}
<div id="update-modal-backdrop" class="hidden"></div>
    <div id="update-student-modal" class="hidden">
        <div class="modal-dialog">
            <div class="modal-header">
                <h3>Update Student</h3>
                <button type="button" id="update-modal-close" class="modal-hide-button">&times;</button>
            </div>
            <div class="modal-body">
                {{!-- 
                Citation for following code that allows the user to add a new row to a table using AJAX
                Date: 2/26/2025
                Adapted from nodejs-starter app code
                Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%205%20-%20Adding%20New%20Data--}}
                {{!-- Form to add a record to the table--}} 
                <form id="update-student-form-ajax">
                    <div class="form-group">
                        <label for="input-studentFName-update">First Name</label>
                        <input type="text" id="input-studentFName-update">
                    </div>
                    
                    <div class="form-group">
                        <label for="input-studentLName-update">Last Name</label>
                        <input type="text" id="input-studentLName-update">
                    </div>
                    
                    <div class="form-group">
                        <label for="input-studentEmail-update">Email</label>
                        <input type="email" id="input-studentEmail-update">
                    </div>
                    
                    <div class="form-group">
                        <label for="input-studentMajor-update">Major</label>
                        <input type="text" id="input-studentMajor-update">
                    </div>
                    
                    <div class="form-group">
                        <label for="input-studentGrade-update">Grade</label>
                        <select name="input-studentGrade" id="input-studentGrade-update">
                          <option value="Freshman">Freshman</option>
                          <option value="Sophomore">Sophomore</option>
                          <option value="Junior">Junior</option>
                          <option value="Senior">Senior</option>
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <input type="submit">
                    </div>
                </form> 
            </div>
    </div>
</div>

{{!-- 
Citation for the following search feature
Date: 2/27/2025
Adapted from nodejs-starter app code
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%206%20-%20Dynamically%20Filling%20Dropdowns%20and%20Adding%20a%20Search%20Box--}}
<div class="Search Forms">
    <h2>Search Students</h2>
    <div class="form-group">
        <form id="search-studentFName-html" method='GET' action='/Students'> 
            <label for="input-studentFName">Search by First Name: </label>
            <input type="text" name="studentFName" id="input-studentFName-html-search">
            
            <input type="submit">
            <a href='/Students'><button>Reset</button></a>
        </form>
    </div>
    
    <div class="form-group">
        <form id="search-studentLName-html" method='GET' action='/Students'> 
            <label for="input-studentLName">Search by Last Name: </label>
            <input type="text" name="studentLName" id="input-studentLName-html-search">
            
            <input type="submit">
            <a href='/Students'><button>Reset</button></a>
        </form>
    </div>
   
    <div class="form-group">
        <form id="search-studentMajor-html" method='GET' action='/Students'> 
            <label for="input-studentMajor">Search by Major: </label>
            <input type="text" name="studentMajor" id="input-studentMajor-html-search">
            
            <input type="submit">
            <a href='/Students'><button>Reset</button></a>
        </form>
    </div>

    <div class="form-group">
        <form id="search-studentGrade-html" method='GET' action='/Students'> 
            <label for="input-studentGrade">Search by Grade: </label>
            <select name="studentGrade" id="input-studentGrade-html-search">
                <option value="">Select Grade</option>
                <option value="Freshman">Freshman</option>
                <option value="Sophomore">Sophomore</option>
                <option value="Junior">Junior</option>
                <option value="Senior">Senior</option>
            </select>
            
            <input type="submit">
            <a href='/Students'><button>Reset</button></a>
        </form>
    </div>
</div>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_student.js"></script>
<script src="./js/delete_student.js"></script>
<script src="./js/update_student.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> <!-- Allow use of jQuery-->